<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="css/style.css"/>
    </head>
    <body>
        <div id="main">
            <img src="suletta.jpg">
            <form>
                <input type="text"/>
                <button>Subscribe</button>
            </form>
        </div>
    </body>
</html>